---
const year = new Date().getFullYear();
---

<footer class="bg-slate-900 text-slate-300">
  <div class="max-w-6xl mx-auto px-6 py-12">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12">
        <div>
            <h3 class="text-xl font-bold text-white mb-3">Kiafa Destapaciones </h3>
            <p class="text-slate-400 max-w-sm"> Servicio profesional de destapaciones cloacales, pluviales, baños y cocinas. <br> Atención en CABA y GBA. </p>
        </div>
        <div>
            <h4 class="text-lg font-semibold text-white mb-4">Navegación</h4>
            <ul class="space-y-2">
              <li>
                <a href="#inicio" class="hover:text-white transition">Inicio </a>
              </li>
              <li>
                <a href="#nosotros" class="hover:text-white transition">Nosotros</a>
              </li>
              <li>
                <a href="#servicios" class="hover:text-white transition">Servicios</a>
              </li>
              <li>
                <a href="#testimonials" class="hover:text-white transition">Testimonios</a>
              </li>
              <li>
                <a href="#contacto" class="hover:text-white transition">Contacto</a>
              </li>
            </ul>
        </div>
        <div>
          <h4 class="text-lg font-semibold text-white mb-4">
            Datos de contacto
          </h4>

          <ul class="space-y-2 text-slate-400">
            <li>
              <a
                href="mailto:kiafadestapaciones@hotmail.com"
                class="hover:text-white transition"
              >
                kiafadestapaciones@hotmail.com
              </a>
            </li>

            <li>
              <a
                href="tel:1154298197"
                class="hover:text-white transition"
              >
                (011) 5429-8197
              </a>
            </li>

            <li>
              <a
                href="https://wa.me/541154298197"
                target="_blank"
                class="hover:text-white transition"
              >
                +54 9 11 5429-8197
              </a>
            </li>

            <li>
                <a 
                    href="https://www.google.com/maps/place/Kiafa+Destapaciones/@-34.6545932,-58.5292438,17z/data=!4m6!3m5!1s0x95bcc85ea539ed6f:0xd1dc40ec563bd48f!8m2!3d-34.6545932!4d-58.5266689!16s%2Fg%2F11jt0rg0gj?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoASAFQAw%3D%3D"
                    target="_blank"
                    class="hover:text-white transition"
                >
                    Avenida General Paz 11916 | CABA
                </a>
            </li>
          </ul>
        </div>

    </div>

    <div class="mt-12 pt-6 border-t border-white/10 text-center text-slate-500 text-sm">
      © {year} Kiafa Destapaciones
    </div>

  </div>
</footer>
