---
import { House, CloudRain, Toilet, Utensils, TvMinimalPlay, Building2 } from "@lucide/astro";
import ServiceCard from "./ServiceCard.astro";
import { getCollection } from "astro:content";

const services = await getCollection("services");

const iconMap = {
  "house": House,
  "cloud-rain": CloudRain,
  "toilet": Toilet,
  "utensils": Utensils,
  "tv-minimal-play": TvMinimalPlay,
  "building-2": Building2,
};
---

<section
  id="servicios"
  class="relative py-24 bg-white"
>
  <div class="max-w-6xl mx-auto px-6">

    <div class="text-center mb-20">
      <h2
        class="
          text-5xl md:text-6xl font-extrabold text-slate-900
          view-animate-single
          animate-fade-in-up
          animate-duration-500
          animate-range-[entry_15%_contain_50%]
        "
      >
        Servicios
      </h2>

      <p
        class="
          mt-6 text-lg md:text-xl text-slate-600 max-w-3xl mx-auto
          view-animate-single
          animate-fade-in-up
          animate-duration-500
          animate-delay-100
          animate-range-[entry_20%_contain_55%]
        "
      >
        Brindamos soluciones profesionales en destapaciones y mantenimiento de cañerías en Capital Federal, Zona Norte, Sur y Oeste.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">

      {services.map((service, index) => {
        const { data } = service;
        const { icon, title, description } = data;

        return (
          <div
            class={`
              view-animate-single
              animate-slide-up-fade
              animate-duration-400
              animate-range-[entry_20%_contain_30%]
              animate-delay-${index * 100}
            `}
          >
            <ServiceCard
              icon={iconMap[icon]}
              title={title}
              description={description}
            />
          </div>
        );
      })}
    </div>
  </div>
</section>
